{
  "engine_path": "C:\\Program Files\\Epic Games\\UE_5.0\\Engine",
  "editor_binary_path": "Binaries/Win64/UE4Editor-Win64-DebugGame.exe",
  "project_root": "D:\\Workspaces\\FirstPersonShooter",
  "project_name": "FirstPersonShooter",
  "project_targets": {
    "Editor": "FirstPersonShooterEditor",
    "Client": "FirstPersonShooter",
    "Server": "FirstPersonShooterServer"
  }
}